@import url(https://fonts.googleapis.com/css?family=Roboto:400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

body {
    opacity: 1;
    transition: 2s opacity;
    background-color: #1F1F1F;
    font-family: 'Lato', sans-serif;
    color: #555;
    align-items: center;
    align-content: center;
    -webkit-font-smoothing: antialiased;
        /* overflow-y: auto; */
        /* overflow-x: hidden; */
}

body.fade-out {
    opacity: 0;
    transition: none;
}

    /* 
        body::-webkit-scrollbar {
            width: 10px;
            background-color: #252525;
        }

        body::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #252525;
        }

        body::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #8E8B8B;
        }  
    */

 @media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
} 

@media screen and (max-width: 5000px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 1800px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 1600px) {
    html {
        font-size: 15px;
    }
}

 @media screen and (max-width: 1400px) {
     html {
         font-size: 15px;
     }
 }

 @media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
} 

@media screen and (max-width: 1024px) {
        html {
            font-size: 13px;
        }
}

@media screen and (max-width: 950px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 650px) {
        html {
            font-size: 9px;
        }
}

@media screen and (max-width: 480px) {
        html {
            font-size: 7px;
        }
} 

@media screen and (max-width: 300px) {
    html {
        font-size: 5px;
    }
}

@media screen and (max-width: 150px) {
    html {
        font-size: 4px;
    }
}

@media screen and (max-width: 50px) {
    html {
        font-size: 3px;
    }
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: 400;
}

h3 {
    color: #95a5a6;
    font-weight: 400;
}

h4 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

/* Paragraph & Typographic */

p {
    margin: 0
}

.centered {
    text-align: center;
}

br {
    line-height: 5px;
}

span {
    cursor: pointer;
}


/* Links */

a {
    color: #f2f2f2;
    word-wrap: break-word;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/* Top Margin */

#header {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 1px;
    margin-bottom: 1vw;
}



.Column {
    display: table-cell;
}

table,
th,
td {
    padding-left: 5px;
    padding-right: 5px;
}

tbody {

    background-color: transparent;
    cursor: pointer;
}


#left {
    text-align: left;
    vertical-align: middle;
    width: 0%;
}

#center {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin-right: 0px;
    margin-left: 25rem;
    padding-right: 25rem;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#centerinner {
    /* shrink-to-fit width */
  display: inline-block;
  position: relative;
  padding: 0px;
    /* shift left edge of text to center */
  left: 50%;
}

#centertext {
        /* shift left edge of text half distance to left */
    margin-left: -50%;
        /* text should all be on one line */
    white-space: nowrap;
    direction: rtl;
}

#right {
    text-align: center;
    vertical-align: middle;
    width: 25rem;
    margin: auto;
    font-size: 1rem;
    padding-right: 10vw;
    padding-top: 15px;
    color: #8E8B8B;
}

.navbar-brand {
    border-color: transparent;
    color: #ffffff;
    text-shadow: 0 0 15px #FF0104;
    text-decoration: none;
    outline: 0;
    font-size: 4rem;
    font-weight: 500;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #ffffff;
    text-shadow: 0 0 20px #FF0104;
    text-decoration: none;
    outline: 0;
    font-weight: 500;
}

.navbar-brand:before,
.navbar-brand:after {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.navbar-default {
    background-color: #1F1F1F;
    border-color: transparent;
    font-weight: 500;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 500;
}

.col-centered {
    display: inline-block !important;
    float: none;
    text-align: left;
    margin-right: -4px !important;
}


/* Helpers */

.mt {

    background-color: transparent;
}

.form-control {
    height: 42px;
    font-size: 18px;
    width: 280px;
}


/* TILES */

.container {
    padding-right: 15px;
    padding-left: 15px;
    align-content: center;
    align-items: center;
}

.col-lg-4 {
    vertical-align: top;
    background-color: #3d3d3d;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
    margin: 10px 10px 15px 10px;
    padding: 10px 0px 5px 0px;
    width: 130px;
    height: 190px;
    font-weight: 500;
    font-size: 1.4em;
    color: #ffffff;
} 

 .row
{
    background-color: transparent;
}  

#services {
    background: transparent;
}

.services {
    margin-top: 1vw;
}

#system {
    background: transparent;
}

.system {
    margin-top: 1vw;
}

.min {
    margin: 0 auto;
    margin-top: 1em;
}

#serviceimg {
    margin-bottom: .4em;
}

.servicetile {
    position: relative;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.servicetile:hover,
.servicetile:focus {
    color: #ffffff;
    text-shadow: 0 0 20px #FF0104;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#servicetitle {
    height: 2em;
    line-height: 100%;
    margin-bottom: .4em;
    padding-left: .2em;
    padding-right: .2em;
    vertical-align: middle;
}

.servicetext {
    color: #ffffff;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1em;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.servicetext:hover,
.servicetext:focus {
    color: #ffffff;
    text-shadow: 0 0 20px #FF0104;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
} 

    /* 
        .servicetext:before,
        .servicetext:after {
            color: #ffffff;
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -ms-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
        } 
    */

.servicetextoffline {
    color: #ffffff;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1em;
    cursor: no-drop;
}

.servicetextoffline:hover,
.servicetextoffline:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}

.btnonline {
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    -moz-border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    background-color: #42e846;
    -webkit-box-shadow: 0 5px 20px rgba(66, 232, 70, .7);
    -moz-box-shadow: 0 5px 20px rgba(66, 232, 70, .7);
    box-shadow: 0 5px 20px rgba(66, 232, 70, .7);
    /*font-family: Courier New;*/
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    text-shadow: none;
    text-decoration: none;
}

.btonline:hover {
    text-decoration: none;
}

.btnoffline {
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    -moz-border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    background-color: #e84242;
    -webkit-box-shadow: 0 5px 20px rgba(232, 66, 66, .7);
    -moz-box-shadow: 0 5px 20px rgba(232, 66, 66, .7);
    box-shadow: 0 5px 20px rgba(232, 66, 66, .7);
    /*font-family: Courier New;*/
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: not-allowed;
}

.offline {
    cursor: not-allowed;
}


/* BADGES */

.double-val-label {
    display: table;
    font-family: 'Roboto', sans-serif;
    margin: 0.4em;
}

.double-val-label>span {
    background-color: #656565;
    color: #ffffff;
    display: table-cell;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1;
    padding: .3em .6em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    cursor: default;
}

.double-val-label>span {
    background-color: #656565;
    color: #ffffff;
    display: table-cell;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1;
    padding: .3em .6em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    &:first-child {
        border-bottom-left-radius: 0.25em;
        border-top-left-radius: .25em;
    }

    &:nth-child(2) {
        border-bottom-right-radius: 0.25em;
        border-top-right-radius: .25em;
    }
}

.double-val-label>span.primary {
    background-color: #337ab7;
    cursor: default;
}

.double-val-label>span.success {
    background-color: #5cb85c;
    cursor: default;
}

.double-val-label>span.info {
    background-color: #5bc0de;
    cursor: default;
}

.double-val-label>span.warning {
    background-color: #f0ad4e;
    cursor: default;
}

.double-val-label>span.danger {
    background-color: #d9534f;
    cursor: default;
}


/* CLOCK */

svg {
    width: 135px;
    height: 135px;
    align-content: center;
    align-self: center;
    align-items: center;
    float: right;
    Margin-top: -10px
}

svg>g {
    transform: translate(75px, 64px);
}

circle {
    stroke: #FFFFFF;
    stroke-width: 1.5px;
}

.dtg {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    margin: 5px;
    cursor: default;
}

.clock {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin: 5px;
    cursor: default;
}

#numbers {
    transform: translate(0, 6px);
}

#numbers>text {
    fill: white;
    text-anchor: middle;
}

#ticks>line {
    stroke: white;
}

#hands {
    stroke: white;
    stroke-width: 3px;
    transform: rotate(-90deg);
}

line {
    animation: handrotation infinite linear;
}

#hour>line {
    animation-duration: 86400s;
}

#minute>line {
    animation-duration: 3600s;
}

#second>line {
    animation-duration: 60s;
    stroke: red;
    stroke-width: 2px;
}

@keyframes handrotation {
    to {
        transform: rotate(1turn);
    }
}


/* Refresh Switch */

#slidertable {
    margin: 0 auto;
    border-radius: 8px;
    background-color: #3d3d3d;
    box-shadow: 3px 3px 3px black;
}

#textslider {
    width: .2em;
    margin: auto;
    padding-right: .4em;
    padding-left: 1em;
}

#slider {
    padding-top: 1em;
    margin: auto;
    padding-right: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 17px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #f2f2f2;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px green;
}

input:checked+.slider:before {
    -webkit-transform: translateX(7px);
    -ms-transform: translateX(7px);
    transform: translateX(7px);
}

.slider.round {
    border-radius: 22px;
    width: 100%;
}

.slider.round:before {
    border-radius: 50%;
}

#bottom {
    text-align: center;
    vertical-align: middle;
    padding-right: 0px;
    margin: auto;
    margin-top: 2em;
    font-size: .75em;
    padding-bottom: 1em;
    color: #8E8B8B;
}


/* Progress Bar */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #680233;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #680233, 0 0 5px #680233;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}


/* Footer */

#footer {
    margin: 0px;
    margin-top: 1vw;
    text-align: center;
    color: #555555;
    font-size: 1em;
}

 .footer {
    text-align: center;
    font-size: 1em;
}

.footer:hover {
    text-decoration: none;
    color: #ffffff;
}

.a {
    color: #555555;
    font-size: 1em;
    text-shadow: none;
    font-weight: 300;
}
