<?php
// styled by @jonfinley
//          EXAMPLE
//  'dontedit' => 'EDITHERE'

$config = array(
    'title' => 'Monitorr', // Site Title
    'siteurl' => 'http://localhost', // SITE URL
// if on Linux, the timezone script will automatically select your timezone
// For Windows, set the timezone. Default is UTC Time.
// I.E. ($timezone = 'America/Los_Angeles',) list of timezone: https://php.net/manual/en/timezones.php
    'updateBranch' => 'master', // update brach you wish to use
    'timezone' => 'UTC',
    'timestandard' => 'False', // True for Standard Time, DEFAULT = False
    'rftime' => '', // time refresh
    'rfsysinfo' => '5000', // system info refresh in milliseconds
    'pinghost' => '8.8.8.8', // URL or IP to ping
    'pingport' => '53', // port to ping (defaults to 53)
    'cpuok' => '50', //CPU% less than this will be green
    'cpuwarn' => '90', //CPU% less than this will be yellow
    'ramok' => '50', //RAM% below this is green
    'ramwarn' => '90', //RAM% below this will be yellow
//    'coloron' => '', // color for online, WIP
//    'coloroff' => '', // color for offline, WIP
);
// thanks @causefx for the assist <3
// supports http, https, domain, ip,
//  "NAMEOFAPP" => array(
//      "link" => "http://linktoyourapp.com",
//      "image" => "ACTUALAPPNAME.png"
//    ),
$myServices = array(
    "Monitorr" => array(
        "link" => "http://localhost/monitorr",
        "image" => "monitorr.png"
        ),
    "PLEX" => array(
        "link" => "http://localhost:32400",
        "image" => "plex.png"
        ),
    "Sonarr" => array(
        "link" => "http://localhost:8989",
        "image" => "sonarr.png"
        ),
    "Radarr" => array(
        "link" => "http://localhost:7878",
        "image" => "radarr.png"
        ),
    "PlexPy" => array(
        "link" => "http://localhost:8181",
        "image" => "plexpy.png"
        ),
   );


?>
