<?php
// styled by @jonfinley
//          EXAMPLE
//  'dontedit' => 'EDITHERE'

$config = array(
// if on Linux, the timezone script will automatically select your timezone
// For Windows, set the timezone. Default is UTC Time.
// I.E. ($timezone = 'America/Los_Angeles',)
    'timezone' => 'UTC',
    'title' => 'Monitorr', // Site Title
    'siteurl' => 'http://localhost', // SITE URL
);

$links = array(
//  Add your services here           
//	EXAMPLE 
//  "Nameoflink" => 'http://APP.COM', 
"PLEX" => 'http://localhost:32400/web/',
"OMBI" => 'http://localhost:3579',
"Sonarr" => 'http://localhost:38084',

);
?>
