/*** MONITORR CUSTOM CSS ***/

/* NOTE: See wiki for detailed instructions/examples.
	+ After applying custom CSS, clearing browser cache and reloading the Monitorr UI may be necessary.
	+ Add "!important" to all CSS properties  */

/* add custom CSS below this line */
